{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<div class="single-post-content">
			<img src="{{ post.thumbnail.src|resize(300) }}">
			<section class="main-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
			</div>	
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
